* {
	font-family:		"Roboto", sans-serif;
	cursor:				auto;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
/*	width:				1250px;*/
	margin:				0px auto;
	background-color: 	#FBFBFB;/*#f3f3f3;*/
}

a {
	cursor:				pointer;
}

.burnt-orange {
	background-color: 	#ec4c17;
} 

.wisc-red {
	background-color:	#c5050c;
}

.content>.container {
	margin:				25px;
	padding:			0px;
}

.selected {
	color:				#EC4C17;
/*	color:				#c5050c;*/
}

html, body {
	height: 100%;
	/*min-height: 100%;*/
}

.prettylink {
	cursor: 			pointer;
	text-decoration:	none;
	color:				#EC4C17;
/*	color:				#c5050c;*/
}

#header,
.content {
	max-width: 1080px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/*
h3, h4 {
	margin:0;
}
*/

#research:before{
padding-top:10px;display:block;content:"";
}

#coursework:before{
padding-top:10px;display:block;content:"";
}

#contact:before{
padding-top:10px;display:block;content:"";
}

