/* Sticky navbar - toggles between relative and fixed, depending on the scroll position.
It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed).
The sticky value is not supported in IE or Edge 15 and earlier versions.
However, for these versions the navbar will inherit default position */
.header {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #FBFBFB;

}

.header,
.content {
    max-width: 1080px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* title bar styling */
#title-bar td {
	/* for debugging alignment and stuff */
	/*border:				2px solid black;*/
	
	/* stop nav from wrapping because of orange bar.
	 * orange bar fills rest of open space, collapsing 
	 * nav. Forces nav to not wrap
	 */
	white-space:		nowrap;
}

#title-bar {
	margin:				0px 25px;
	/*margin-bottom:		-10px;*/
	padding:			0px 0px;
}

#title-bar>.container>* {
	/* align all elements in title bar to vertical center */
	vertical-align:		middle;
}

/* name styling */
#title-bar #title>.container {
	/*padding:			0px;*/
	/*margin: 			0px;*/
}
#title-bar #title h1 {
	font-size:			28pt;
	/* remove some of the vertical whitespace
	 * to align the entire bar better
	 */
	height:				0.5em;
	line-height:		0.3em;
}
#title-bar #title  a {
	cursor:				pointer;
	text-decoration:	none;
	color: 				#EC4C17;
/*	color:				#b70101;*/
}

/* nav styling */
#title-bar #nav {
	margin:				0px 25px;
	padding:			0px 0px;
}
/* to remove leading whitespace from nav bar list */
#title-bar #nav ul {
	padding:			0px;
}
#title-bar #nav li {
	margin:				0px 0px;
	padding:			0px 15px;
	/* show list inline, not newline-separated */
	display:			inline-block;
}

#title-bar #nav a {
	font-size:			14pt;
	color:				#5a5a5a;
	font-weight:		lighter;
	text-transform:		capitalize;
	text-decoration:	none;
	cursor:				pointer;
}
#title-bar #nav a:hover {
	color:				#EC4C17;
/*	color:				#c5050c;*/
}

/* title box styling */
#title-bar #title-box {
	background-color:	#EC4C17;
/*	background-color:	#c5050c;*/
	width: 				auto;
	height: 			30px;
}
#title-bar td:last-child {
	/* have box fill rest of parent */
	width: 				100%;
} 