* {
   margin: 0;
   padding: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
/*border-style: dashed;*/
}

body {
	font-family: Arial;
	margin-left:	300px;
	margin-right:	300px;
	margin-top: 	50px;
	margin-bottom:	10px;
}

#myheader {
  text-align: center;
}

h1 {
	font-size: 250%;
	font-weight: 300;
}

h2 {
	font-size: 25px;
	font-weight: 200;
}

h3 {
    font-weight: 100;
}

h4 {
    font-weight: 100;
}

h5 {
	font-size: 12pt;
    font-weight: 100;
}

h6 {
	font-size: 20px;
	font-weight: 200;
}

footer {
    text-align:center;
    padding:5px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    text-align: left;
}

.center {
  width: 100%;
}

.left {
  width: 50%;
}

.right {
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 1200px) {
    .column {
        width: 100%;
    }
}

#technical {
  text-align: center;
}